/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'bootstrap/dist/css/bootstrap.min.css';
.employee-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-card h3 {
    margin: 0;
    font-size: 1.5em;
}

.employee-card p {
    margin: 4px 0;
}
